*{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
ul,ol,li{
    list-style: none;
    
}


.todolist{
    display: flex;
    justify-content: center;
    margin-top: 100px;


   
}
.todolist>div{
    border: 1px solid grey;
    padding: 20px;
    border-radius: 5px;
}










